

<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
    <div style="width: 35%; margin: 10% auto 0">
      <h2>About</h2>
      <p>Kapow! is a website for comic lovers and creators alike. Our tools allow content creators to upload, edit and publish
        webcomics for their fans. Comic fans can browse the latest comics, subscribe to their favorite artists, and curate their own feed for
        a custom experience. <a href="/register">Get started now!</a></p>

      <h2>Contact</h2>
      <p>If you have any questions feel free to email us at <a href="mailto:support@kapow.net">support@kapow.net</a></p>

    </div>
</body>
</html>
