<!DOCTYPE html>
<html lang="en">
<body style="background-image:none">
<head>
  <title>About | Cio Ellorin</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<div id="navbar">
  <ul>
    <li><a href="../index.html">Home</a></li>
    <li><a href="./portfolio.html">Portfolio</a></li>
    <!-- <li><a href="./gaming.html">Gaming</a></li> -->
    <!-- <li><a href="./photography.html">Photography</a></li> -->
    <li><a href="./about.html">About</a></li>
    <!-- <li><a href="./contact.html">Contact</a></li> -->
    <!-- <img src="../images/logos/cio-logo-small.png" style="max-width: 40px;padding-top:7px;padding-right:5px;float:right;"> -->
  </ul>
</div>

<div class="about-header">
  <div class="bg-slideshow">
    <img class="slideshowimage" src="../images/about/slideshow/black_tusk_gear.png">
    <img class="slideshowimage" src="../images/about/slideshow/nara_fireworks_2.png">
    <img class="slideshowimage" src="../images/about/slideshow/steveston_bookstore.png">
    <img class="slideshowimage" src="../images/about/slideshow/workspace.png">
    <img class="slideshowimage" src="../images/about/slideshow/steveston_rocanini.png">
  </div>
  <img src="../images/about/profile.png" class="circle-image large" id="about-profile"/>

</div>

<div class="about-header-details">
  <h1>Cio Ellorin</h1>
  <p>Hi! My name is Cio, and I'm a Software Developer by profession! My goal as a developer is to make beautiful software that clients love using, and enables them to achieve <i>their</i> goals! I love to work with a great team, but also have experience working independently, and have worked in full, agile development life cycles! In my free time, I enjoy playing video games, photography, hiking, and playing sports!
</div>

<!-- Begin tabs -->

<div class="tabs-container">
  <div class="tab">
    <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'tab-current-position')">Current Position</button>
    <button class="tablinks" onclick="openCity(event, 'tab-my-story')">My Story</button>
    <button class="tablinks" onclick="openCity(event, 'tab-previous-experience')">Previous Experience</button>
    <button class="tablinks" onclick="openCity(event, 'tab-natgeo')">National Geographic</button>
  </div>

  <!-- Tab content -->
  <div id="tab-current-position" class="tabcontent">
    <h3>For Hire!</h3>
    <p>I am <span style="color:#CB881D">currently looking for a job</span>! If you're interested in hiring me, I can be contacted via email.
      <br>
      <br>iellorin@gmail.com or iellorin@hotmail.com</p>
  </div>

  <div id="tab-my-story" class="tabcontent">
    <h3>My Story</h3>
    <p style="text-align:left">I loved video games ever since I was a kid. My uncle had bought my siblings and I a Nintendo 64, and I fell in love. From early on, I knew what I wanted to do when I grew up: I wanted to make video games. In high school, my IT class introduced me to a simple scripting tool called Guido Van Robot (GVR), and it was then that I realized it wasn't just video games that I wanted to create, I want to <i style="color:#CB881D">make anything do something,</i> and I had that 'aha!' moment where I realized <span style="color:#CB881D">I just wanted to build software</span> as a career!

      <br>
      <br> I applied to the University of British Columbia's Faculty of Science, and, in my first year, declared my Major in Computer Science. I spent six years studying there, gaining 24 months of real work experience along the way through completing the Co-Op program. I worked in Vancouver for VISIER while it was still expanding, Access to Media Education Society - a non-profit organization, and I worked in Japan for eight months developing software for robotics researchers! I discovered that <span style="color:#CB881D">building beautiful software for clients is rewarding</span>, and finally, here I am today!
    </p>
  </div>

  <div id="tab-previous-experience" class="tabcontent" style="margin-left:0px;margin-right:0px;">
    <!-- ATR -->
    <div class="tab-previous-experience-job">
      <div class="tab-about-previous-experience">
        <h4>Advanced Telecommunications Research Institute International (ATR)</h4>
        <p>JAN 2017 - AUG 2017 | KYOTO, JAPAN
          <br>Robot Control Software Developer (Project ERICA, Hiroshi Ishiguro Laboratories)- Java
        </p>
      </div>
        <img src="../images/jobs/atr.png">
    </div>

    <!-- AMES -->
    <div class="tab-previous-experience-job">
      <div class="tab-about-previous-experience">
        <h4>Access to Media Education Society</h4>
        <p>MAY 2016 - AUG 2016 | VANCOUVER, BC
          <br>Web Developer, Designer - HTML, CSS
        </p>
      </div>
        <img src="../images/jobs/ames.png">
    </div>

    <!-- VISIER -->
    <div class="tab-previous-experience-job">
      <div class="tab-about-previous-experience">
        <h4>Visier Inc.</h4>
        <p>SEP 2014 - AUG 2015 | VANCOUVER, BC
          <br>Workforce Analytics Software Developer (co-op) - ActionScript, XML, Flex
        </p>
      </div>
        <img src="../images/jobs/visier.png">
    </div>
  </div>

  <div id="tab-natgeo" class="tabcontent" style="margin-left:0px;margin-right:0px;">
    <p>
    While working in Japan, National Geographic came to our lab to film ERICA as part of their Year One Million documentary series, and I got to demonstrate (for a short while) an interaction with ERICA for them. The SYFY feature is available only in the US, but others can watch the full-length episode, and ERICA is featured at around 10:05.
    </p>
    <!-- Embedded Video Playlist -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL3iu8GSfl13-5uEZ7OqDajcqUc7fVIoEn" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<!-- End tabs -->

<!-- Details (only for mobile) -->

<!-- Previous Experience -->
<!-- ATR -->
<div class="about-mobile-section white">
  <h1>Previous Experience</h1>
<div class="about-mobile-previous-experience-job">
  <div class="tab-about-previous-experience">
    <h4>Advanced Telecommunications Research Institute International (ATR)</h4>
    <p>JAN 2017 - AUG 2017 | KYOTO, JAPAN
      <br>Robot Control Software Developer (Project ERICA, Hiroshi Ishiguro Laboratories)- Java
    </p>
  </div>
</div>

<!-- AMES -->
<div class="about-mobile-previous-experience-job">
  <div class="tab-about-previous-experience">
    <h4>Access to Media Education Society</h4>
    <p>MAY 2016 - AUG 2016 | VANCOUVER, BC
      <br>Web Developer, Designer - HTML, CSS
    </p>
  </div>
</div>

<!-- VISIER -->
<div class="about-mobile-previous-experience-job">
  <div class="tab-about-previous-experience">
    <h4>Visier Inc.</h4>
    <p>SEP 2014 - AUG 2015 | VANCOUVER, BC
      <br>Workforce Analytics Software Developer (co-op) - ActionScript, XML, Flex
    </p>
  </div>
</div>
</div>
<!-- End of Experience -->

<!-- My Story -->
<div class="about-mobile-section blue">
<h1>My Story</h1>
<p style="text-align:left">When I was a kid, my uncle had bought my siblings and I a Nintendo 64; from early on, I knew what I wanted to do when I grew up: I wanted to make video games. I first programmed something in my high school IT class called Guido Van Robot (GVR), and it was then that I realized it wasn't just video games that I wanted to create, I want to <span style="color:#2F2F2F">make anything do something,</span> and I had that 'aha!' moment where I realized <span style="color:#2F2F2F">I just want to build software</span> as a career!

  <br>
  <br> I applied to the University of British Columbia's Faculty of Science, and, in my first year, declared my Major in Computer Science. I spent six years studying there, gaining 24 months of real work experience along the way through completing the Co-Op program. I worked in Vancouver for VISIER while it was still expanding, Access to Media Education Society - a non-profit organization, and I worked in Japan for eight months developing software for robotics researchers! Finally, here I am today!
</p>
</div>
<!-- End of My Story -->

<div class="about-mobile-section white">
  <h1>Current Position</h1>
  <p>I am currently looking for a job! If you're interested in hiring me, I can be contacted via email.
    <br>
    <br>iellorin@gmail.com or iellorin@hotmail.com</p>
</div>
<!-- End of Details -->

<!-- Find me div -->
<div class="find-me">
  <div class="find-me-row">
    <h1 id="home-find-me" style="margin-bottom:15px;">Find me on these platforms!</h1>
    <div class="find-me-column">
      <a href="https://github.com/ixellorin">
        <img class="find-me-image" src="../images/logos/github_white.png">
      </a>
    </div>
    <div class="find-me-column">
      <a href="https://www.linkedin.com/in/iellorin/">
        <img class="find-me-image" id="linkedin-icon" src="../images/logos/linkedin_white.png">
      </a>
    </div>
    <div class="find-me-column">
      <a href="https://www.instagram.com/i_ellorin/">
        <img class="find-me-image" id="instagram-icon" src="../images/logos/instagram_white.png">
      </a>
    </div>
    <div class="find-me-column">
      <a href="https://www.flickr.com/photos/158175735@N03/">
        <img class="find-me-image" id="flickr-icon" src="../images/logos/flickr_white.png">
      </a>
    </div>
    <div class="find-me-column">
      <a href="https://www.twitch.tv/thecheezo">
        <img class="find-me-image" id="twitch-icon" src="../images/logos/twitch_white.png">
      </a>
    </div>
    <div class="find-me-column">
      <a href="https://twitter.com/thecheez_o">
        <img class="find-me-image" id="twitter-icon" src="../images/logos/twitter_white.png">
      </a>
    </div>
  </div>
</div>

<!-- End find me -->
<!-- <div style="padding-top:20px">
  <h1>Oops! Looks like this page isn't done!</h1>
    <p>Sorry about that! This website is a work-in-progress, so I'll get to this as soon as possible!</p>
</div> -->

<!-- Modal -->
 <!-- <div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog"> -->

     <!-- Modal content-->
     <!-- <div class="modal-content">
       <div class="modal-header">
       <h4 class="modal-title">Under Construction!</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       <div class="modal-body">
         <p>I am currently building and improving this website so you may notice some hiccups, hitches, and missing features!</p>
       </div>
     </div>

   </div>
 </div> -->

 <!-- Optional JavaScript -->

<script text="text/javascript" src="../js/slideshow.js"></script>
<script text="text/javascript" src="../js/tabs.js"></script>
<script text="text/javascript">
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
 <!-- <script>
 $(window).on('load',function(){
     $('#myModal').modal('show');
 });
 </script> -->


 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
 </body>
 </html>
