<!DOCTYPE html>
<html lang="en">
<body>
<head>
  <title>Contact | Cio Ellorin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <div id="navbar">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="./portfolio.html">Portfolio</a></li>
      <li><a href="./about.html">About</a></li>
      <li><a href="./contact.html">Contact</a></li>
    </ul>
  </div>
      <h2>Contact Me</h2>
      <p>Currently under construction...</p>
</body>
</html>
