<!DOCTYPE html>
<html lang="en">
<body>
<head>
  <title>Portfolio | Cio Ellorin</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<div id="navbar">
  <ul>
    <li><a href="../index.html">Home</a></li>
    <li><a href="./portfolio.html">Portfolio</a></li>
    <li><a href="./gaming.html">Gaming</a></li>
    <li><a href="./photography.html">Photography</a></li>
    <li><a href="./about.html">About</a></li>
    <li><a href="./contact.html">Contact</a></li>
    <!-- <img src="../images/logos/cio-logo-small.png" style="max-width: 40px;padding-top:7px;padding-right:5px;float:right;"> -->
  </ul>
</div>

<div class="portfolio-header">
  <h1>
    <img src="../images/logos/cio-logo-small.png" style="padding-bottom: 10px" id="portfolio-logo">
    Cio Ellorin | Software Developer
  </h1>
  <p>Agile Environment. Object-Oriented Programming. Front-End Development. Java. HTML. CSS.</p>
</div>


<!-- Skillset Container -->
<div class="skillset-container">

<!-- Beginning of Skillset Bars -->

<div class="skillset-main">

  <div class="back-front-bar-container">
    <div class="frontend-bar" style="text-align:left">Front-End</div>
    <div class="backend-bar" style="text-align:right">Back-End</div>
  </div>

<div class="skillbar clear">
	<div class="skillbar-title" style="background: #0170BA;"><span>HTML</span></div>
	<div id="html-bar" class="skillbar-bar" style="background: #29A9DF;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear" >
  <div class="skillbar-title" style="background: #0170BA;"><span>CSS</span></div>
  <div id="css-bar" class="skillbar-bar" style="background: #29A9DF;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear">
  <div class="skillbar-title" style="background: #0170BA;"><span>JavaScript</span></div>
  <div id="js-bar" class="skillbar-bar" style="background: #29A9DF;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear">
	<div class="skillbar-title" style="background: #0170BA;"><span>Java</span></div>
	<div id="java-bar" class="skillbar-bar" style="background: #29A9DF;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear">
  <div class="skillbar-title" style="background: #0170BA;"><span>SQL</span></div>
  <div id="sql-bar" class="skillbar-bar" style="background: #29A9DF;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear">
	<div class="skillbar-title" style="background: #0170BA;"><span>Python</span></div>
	<div id="python-bar" class="skillbar-bar" style="background: #29A9DF;"></div>
</div> <!-- End Skill Bar -->

</div>

<!-- End of Skillset Bars -->

    <div class="skillset-details">
      <h1>Skillset</h1>
      <div class="skillset-details-box" style="margin-bottom: 10px;">
        <h4><img src="../images/glyphicons/png/glyphicons-440-wrench-blue.png" style="max-width: 25px;padding-bottom: 3px;padding-right:5px;">Tools</h4>
        <p>
          <u>IDES</u>: Eclipse, Atom, IntelliJ, Visual Studio, Unity<br>
          <u>Version Control</u>: Git, GitHub, BitBucket, Tortoise HG w/Mercurial, SourceTree<br>
          <u>Project/Issue Tracking</u>: JIRA, Redmine, GitHub<br>
          <u>Other</u>: MySQL, PGAdmin, Xmanager, Blender
        </p>
      </div>
      <div class="skillset-details-box">
        <h4><img src="../images/glyphicons/png/glyphicons-101-font-blue.png" style="max-width: 25px;padding-bottom: 4px;padding-right:5px;">Other Languages</h4>
        <p>
          <u>Scripting</u>: Julia, Erlang, PHP<br>
          <u>Object-Oriented</u>: TypeScript, C++, C#, C, ActionScript<br>
          <u>Frameworks</u>: AngularJS, Fabric.JS, Flex<br>
          <u>Other</u>: XML, PGSQL
        </p>
      </div>
    </div>

</div>

<!-- End of Skillset Container -->

<!-- Experience Container -->
<div class="experience-container">
  <div class="experience-side">
    <h1 style="margin-top:35px;text-align:left;">Experience</h1>
    <h3 style="text-align:left;line-height:40px;">
      Software in Research.<br>
      Non-Profit Organization.<br>
      Agile Environments.
    </h3>
  </div>

<!-- Begin Job Listings -->

  <div class="experience-main" id="jobs">

    <!-- ATR -->
    <a class="job-anchor" id="atr" href="http://www.geminoid.jp/en/projects.html">
      <div class="job-listing" id="atr-listing">
        <h3 class="job-company">Advanced Telecommunications Research Institute International (ATR)</h3>
        <p class="job-details">JAN 2017 - AUG 2017 | KYOTO, JAPAN</p>
        <p class="job-title">Robot Control Software Developer (Project ERICA, Hiroshi Ishiguro Laboratories)- Java</p>
      </div>
    </a>

    <!-- AMES -->
    <a class="job-anchor" id="ames" href="https://accesstomedia.org/">
      <div class="job-listing" id="ames-listing">
        <h3 class="job-company">Access to Media Education Society</h3>
        <p class="job-details">MAY 2016 - AUG 2016 | VANCOUVER, BC</p>
        <p class="job-title">Web Developer, Designer - HTML, CSS</p>
      </div>
    </a>

    <!-- VISIER -->
    <a class="job-anchor" id="visier" href="https://www.visier.com/">
      <div class="job-listing" id="visier-listing">
        <h3 class="job-company">Visier Inc.</h3>
        <p class="job-details">SEP 2014 - AUG 2015 | VANCOUVER, BC</p>
        <p class="job-title">Workforce Analytics Software Developer (co-op) - ActionScript, XML, Flex</p>
      </div>
    </a>

  </div>
  <!-- End Job Listings -->

</div>
<!-- End of Experience Container -->

  <!-- Projects Wrapper -->
  <div class="projects-wrapper" style="text-align:center;">

 <div style="padding-top:5%;margin-bottom:30px;">
   <h1>Projects</h1>
 </div>

 <!-- Projects Container -->
 <div class="projects-container" style="text-align:center;">

    <div class="project-box">
       <a class="project-anchor" href="https://github.com/ixellorin/Enron">
         <h1 class="project-title">Enron Emails TF-IDF</h1>
        <p class="project-details">Personal Project | SEP 2018 - PRESENT | Python</p>
        <p class="project-description">Playground for the Enron emails dataset. Running term frequency-inverse document frequency.</p>
      </a>
    </div>

    <div class="project-box">
      <a class="project-anchor" href="https://github.com/ixellorin/Team3">
        <h1 class="project-title">Kapow! Comic Collaborator</h1>
       <p class="project-details">School Project | JAN 2016 - MAR 2016 | TypeScript, AngularJS, Fabric.js</p>
       <p class="project-description">School project with RESTful api. Using JavaScript Frameworks for a collaborative online drawing application.</p>
     </a>
    </div>

    <div class="project-box" id="source-project">
      <a class="project-anchor" href="https://globalgamejam.org/2016/games/source">
        <h1 class="project-title">Source</h1>
       <p class="project-details">Global Game Jam 2016 | Blender, Unity, C#</p>
       <p class="project-description">2.5D, low-poly, side-scrolling platformer for Global Game Jam 2016. First experience with modeling and animation with Blender.</p>
     </a>
    </div>

    <div class="project-box" id="freeze-frame-project">
      <a class="project-anchor" href="https://globalgamejam.org/2015/games/freeze-frame">
        <h1 class="project-title">Freeze Frame</h1>
       <p class="project-details">Global Game Jam 2015 | Unity, C#</p>
       <p class="project-description">2D, side-scrolling platformer for Global Game Jam 2015. First experience with Unity.</p>
     </a>
    </div>

    <div class="project-box" id="pokemon-project">
      <a class="project-anchor" href="https://github.com/ixellorin/PokemonDB">
        <h1 class="project-title">Pok&eacute;mon Database</h1>
       <p class="project-details">School Project | JUN 2014 | PHP, SQL</p>
       <p class="project-description">Build and query a database, in this case, a Pok&eacute;mon Database</p>
     </a>
    </div>

    <div class="project-box">
      <a class="project-anchor" href="https://github.com/ixellorin/FRP-BC">
        <h1 class="project-title">FRP-BC Mapper</h1>
       <p class="project-details">Think Global, Hack Local Hackathon 2013 | Java (Android)</p>
       <p class="project-description">Resource centre locator for BC Association of Family Resource Programs (FRP-BC) with Google Maps API.</p>
     </a>
    </div>
 </div>
 <!-- End of Projects Container -->

 <a class="project-anchor" href="https://github.com/ixellorin/ixellorin.github.io">
 <div class="project-box final">
     <h1 class="project-title">This Website!</h1>
    <p class="project-details">Personal Project | SEP 2018 - PRESENT | HTML, CSS, JavaScript</p>
    <p class="project-description">Creating my own, personal website for work and for fun!</p>
  </div>
  </a>

   <a class="project-anchor" href="https://github.com/ixellorin?tab=repositories">
     <div class="project-box final">
       <h1 class="project-title">I've Got More!</h1>
     <img src="../images/glyphicons/glyphicons-social/png/glyphicons-social-22-github-white.png" style="padding-right:5px;padding-bottom:5px;">
     View more repos and all source code on GitHub
   </div>
   </a>

</div>

<!-- Modal -->
 <!-- <div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog"> -->

     <!-- Modal content-->
     <!-- <div class="modal-content">
       <div class="modal-header">
       <h4 class="modal-title">Under Construction!</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       <div class="modal-body">
         <p>I am currently building and improving this website so you may notice some hiccups, hitches, and missing features!</p>
       </div>
     </div>

   </div>
 </div> -->

<!-- End of Projects Wrapper -->

 <!-- Optional JavaScript -->

<script text="text/javascript" src="../js/portfolio.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
