<!DOCTYPE html>
<html lang="en">
<body>
<head>
  <title>Portfolio | Cio Ellorin</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<div id="navbar">
  <ul>
    <li><a href="../index.html">Home</a></li>
    <li><a href="./portfolio.html">Portfolio</a></li>
    <li><a href="./gaming.html">Gaming</a></li>
    <li><a href="./photography.html">Photography</a></li>
    <li><a href="./about.html">About</a></li>
    <li><a href="./contact.html">Contact</a></li>
  </ul>
</div>

<div class="portfolio-header">
  <h1>Cio Ellorin | Software Developer</h1>
  <p>Object-Oriented Programming. Front-End Development. Java. HTML. CSS.</p>
</div>

<div class="skillset-container">

<div class="skillset-main">

  <div class="back-front-bar-container">
    <div class="frontend-bar" style="text-align:left">Front-End</div>
    <div class="backend-bar" style="text-align:right">Back-End</div>
  </div>

<div class="skillbar clear">
	<div class="skillbar-title" style="background: #E44D26;"><span>HTML</span></div>
	<div id="html-bar" class="skillbar-bar" style="background: #F16529;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear" >
  <div class="skillbar-title" style="background: #0170BA;"><span>CSS</span></div>
  <div id="css-bar" class="skillbar-bar" style="background: #29A9DF;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear">
  <div class="skillbar-title" style="background: #DCC709;"><span>JavaScript</span></div>
  <div id="js-bar" class="skillbar-bar" style="background: #F5DE19;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear">
	<div class="skillbar-title" style="background: #C67606;"><span>Java</span></div>
	<div id="java-bar" class="skillbar-bar" style="background: #F89917;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear">
  <div class="skillbar-title" style="background: #27ae60;"><span>SQL</span></div>
  <div id="sql-bar" class="skillbar-bar" style="background: #2ecc71;"></div>
</div> <!-- End Skill Bar -->

<div class="skillbar clear">
	<div class="skillbar-title" style="background: #3874A6;"><span>Python</span></div>
	<div id="python-bar" class="skillbar-bar" style="background: #5392C6;"></div>
</div> <!-- End Skill Bar -->

</div>
  <div class="skillset-title">
    <h1>Skillset</h1>
  </div>
</div>

<!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
       <h4 class="modal-title">Under Construction!</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       <div class="modal-body">
         <p>I am currently building and improving this website so you may notice some hiccups, hitches, and missing features!</p>
       </div>
     </div>

   </div>
 </div>

 <!-- Optional JavaScript -->

  <script text="text/javascript">
  $(window).on('load',function(){
      $('#myModal').modal('show');
      $('.skillbar').each(function(){
        $(this).find('.skillbar-bar').animate({
          width:$(this).attr('data-percent')
        },6000);
      });
  });
  </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
