<!DOCTYPE html>
<html ng-app="myContributions">
<% include header %>

  <body ng-controller="mainController">
    <% include navbar %>
    <div style="margin-top: 65px;">
      <div ng-repeat="comic in comics">
        <a ng-href="/view/{{comic.id}}" style="">
          <h4>{{comic.title}}</h4>
          Posted on: {{comic.date_created}}
        </a>
      </div>
    </div>

    <script src="/static/javascripts/myContributions.js"></script>

    <script>
      //get current user account type
      var current_user = '<%= current_user%>';
    </script>
  </body>

</html>
